.mt-ripple {
  --_mt-ripple-spread: var(--mt-ripple-spread, 4);
  --_mt-ripple-color: var(--mt-ripple-color, #fff);
  --_mt-ripple-top: var(--mt-ripple-top, 0);
  --_mt-ripple-left: var(--mt-ripple-left, 0);

  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.mt-ripple::after {
  content: '';
  position: absolute;
  top: var(--_mt-ripple-top);
  left: var(--_mt-ripple-left);
  margin-top: -10px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 200%;
  background-color: var(--_mt-ripple-color);
  will-change: transform;
  opacity: 0;
  pointer-events: none;
}

.mt-ripple--active::after {
  animation: ripple 0.9s;
}

@keyframes ripple {
  from {
    opacity: 0.5;
    transform: scale(0);
  }

  to {
    transform: scale(calc(3 * var(--_mt-ripple-spread)));
    opacity: 0;
  }
}
