.app_body {
  display: flex;
}

.app_bodyContents {
  width: calc(
    (100% - var(--maxAppWidth)) / 2 + var(--maxAppWidth) - var(--navWidth)
  );
  max-width: calc(var(--maxAppWidth) - var(--navWidth));
  padding: var(--appTopPadding) var(--appBodyPadding) 0;
}
