.app_bodyContents {
  --bodyPadding: 40px;
  width: calc(100% - var(--navWidth));
  min-height: calc(100vh - var(--headerHeight));
  margin: var(--headerHeight) 0 0 var(--navWidth);
  padding: var(--appTopPadding) var(--bodyPadding) 0;
  display: flex;
  flex-direction: column;
}

.app_bodyContents>* {
  width: 100%;
  max-width: calc(var(--maxAppWidth) - var(--navWidth));
  margin: 0 auto;
  flex: 1;
}

.app_bodyContents>*:first-child {
  margin-bottom: 100px;
}

@media (max-width: 1000px) {
  .app_bodyContents {
    --bodyPadding: 20px;
    margin-left: 0;
    width: 100%;
  }
  .app_bodyContents>* {
    width: 100%;
    max-width: none;
    margin: 0;
  }
}
