:root {
  font-size: 10px;

  --maxAppWidth: 1100px;
  --standardContentPadding: 20px;
  --appBodyPadding: 40px;
  --navWidth: 300px;
  --headerHeight: 65px;
  --appTopPadding: 30px;

  --mainColor: #5e35b1;

  --mt-baseFontSize: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}

#root,
.app {
  min-height: 100vh;
}

.app_body {
  min-height: calc(100vh - var(--headerHeight));
}

.contents {
  max-width: var(--maxAppWidth);
  padding: 0 var(--standardContentPadding);
  margin: 0 auto;
  font-size: 1.6rem;
}
