.mt-chip {
  --_mt-chip-backgroundColor: var(--mt-chip-backgroundColor, #e0dfe0);
  --_mt-chip-backgroundColorFocus: var(--mt-chip-backgroundColorFocus, #333);
  --_mt-chip-textColor: var(--mt-chip-textColor, rgba(0, 0, 0, 0.87));

  --_mt-chip-backgroundColorActive: var(
    --mt-chip-backgroundColorActive,
    #d4e9fc
  );
  --_mt-chip-backgroundColorActiveFocus: var(
    --mt-chip-backgroundColorActiveFocus,
    #2196f3
  );
  --_mt-chip-textColorActive: var(--mt-chip-textColorActive, #2196f3);

  font-size: calc(var(--mt-baseFontSize, 1rem) * 0.875);
  font-family: var(--mt-fontFamily, 'Roboto');
  background-color: var(--_mt-chip-backgroundColor);
  display: inline-block;
  padding: 0.5em 0.87em;
  border-radius: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  position: relative;
  z-index: 0;
  cursor: pointer;
  outline: none;
}

.mt-chip-notClickable {
  cursor: default;
}

.mt-chip_input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: block;
  cursor: pointer;
  z-index: 20;
  transform: translateZ(0);
  margin: 0;
  padding: 0;
}

.mt-chip_chip {
  position: static;
  color: var(--_mt-chip-textColor);
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  white-space: nowrap;
}

.mt-chip_chip:after,
.mt-chip_chip:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--_mt-chip-backgroundColorActive);
  border-radius: 1em;
  z-index: -1;
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.mt-chip_chip:after {
  background-color: var(--_mt-chip-backgroundColorFocus);
}

.mt-chip_input:checked ~ .mt-chip_chip:before {
  opacity: 1;
}

.mt-chip:focus .mt-chip_chip:after,
.mt-chip_input:focus ~ .mt-chip_chip:after {
  opacity: 0.2;
}

.mt-chip_input:focus:checked ~ .mt-chip_chip:after {
  background-color: var(--_mt-chip-backgroundColorActiveFocus);
  opacity: 0.2;
}

.mt-chip_input:checked ~ .mt-chip_chip {
  color: var(--_mt-chip-textColorActive);
}

.mt-chip_icon {
  height: 1.5em;
  width: 1.5em;
  display: inline;
  vertical-align: middle;
  margin: -0.3em 0.1em -0.3em -0.3em;
  transition: opacity 0.2s 0.3s linear;
  fill: #606060;
}

.mt-chip_icon + .mt-chip_checkmark {
  position: absolute;
  left: 1em;
  top: calc(50% - 0.45em);
  width: 1.5em;
}

.mt-chip_checkmark ~ .mt-chip_chip {
  padding-left: 0.4em;
}

.mt-chip_checkmark {
  width: 0;
  height: 1.5em;
  display: inline;
  vertical-align: middle;
  margin: -0.3em -0.1em -0.3em -0.3em;
  transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.mt-chip_input:checked ~ .mt-chip_icon {
  opacity: 0;
  transition: opacity 0.01s linear;
}

.mt-chip_input:checked ~ .mt-chip_checkmark {
  width: 1.5em;
}

.mt-chip_checkmarkPath {
  stroke-dashoffset: 29.78334;
  stroke-dasharray: 29.78334;
  transition: stroke-dashoffset 0.15s cubic-bezier(0.4, 0, 0.6, 1) 50ms;
}

.mt-chip_input:checked ~ .mt-chip_checkmark .mt-chip_checkmarkPath {
  stroke: var(--_mt-chip-textColorActive);
  stroke-dashoffset: 0;
}
