.mt-inlineSpinner_circle {
  fill: var(--mt-inlineSpinner-fill, #000);
  animation: mt-inlineSpinner-jump
    var(--mt-inlineSpinner-animationDuration, 300ms)
    cubic-bezier(0.68, 0.06, 0.68, 0.42) infinite alternate;
  transform-origin: center;
  animation-delay: var(--mt-inlineSpinner-delay, 0);
  will-change: transform;
}

.mt-inlineSpinner_two {
  --mt-inlineSpinner-delay: 0.1s;
}

.mt-inlineSpinner_three {
  --mt-inlineSpinner-delay: 0.2s;
}

@keyframes mt-inlineSpinner-jump {
  0%,
  10% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 15px, 0);
  }
}
