.mt-button {
  /*
    This (ugly) set of variables defines the variable fallback implementation.

    1. If `mt-button-backgroundColor` is set, then that will be applied
    2. Otherwise, `mt-mainColor` will be applied
    3. Otherwise, `teal` will be applied
  */
<<<<<<< HEAD
  --_mt-button-backgroundColor: var(--mt-button-backgroundColor, var(--mt-mainColor, #2196f3));
=======
  --_mt-button-backgroundColor: var(--mt-button-backgroundColor, var(--mt-mainColor, cadetblue));
>>>>>>> Begin modifying new docs
  --_mt-button-secondaryBackgroundColor: var(--mt-button-secondaryBackgroundColor, var(--mt-secondaryColor, coral));
  --_mt-button-textColor: var(--mt-button-textColor, #fff);
  --_mt-button-secondaryTextColor: var(--mt-button-secondaryTextColor, #fff);
  --_mt-button-disabledTextColor: var(--mt-button-disabledTextColor, rgba(0, 0, 0, 0.38));

  all: initial;
  font-family: 'Roboto';

  position: relative;
  -webkit-font-smoothing: antialiased;
  font-size: var(--mt-baseFontSize, 1rem);
  font-weight: 500;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
  will-change: transform, opacity;
  display: inline-block;
  position: relative;
  min-width: 4em;
  padding: .55em 1em;
  border: none;
  outline: none;
  text-align: center;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: .2em;
  cursor: pointer;
  white-space: nowrap;

  background-color: var(--_mt-button-backgroundColor);
  color: var(--_mt-button-textColor);
}

.mt-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.1s ease-in-out;
  z-index: -1;
}

.mt-button:hover:before,
.mt-button:focus:before {
  opacity: 0.3;
}

.mt-button:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.38);
  cursor: default;
  pointer-events: none;
}

.mt-button-compact {
  padding: .55em .5em;
}

.mt-button-secondary {
  --_mt-button-backgroundColor: var(--_mt-button-secondaryBackgroundColor);
  --_mt-button-textColor: var(--_mt-button-secondaryTextColor);
}

.mt-button-raised {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.mt-button-raised:disabled {
  box-shadow: none;
}

.mt-button-flat,
.mt-button-stroked {
  background-color: transparent;
  color: var(--_mt-button-backgroundColor);
}

.mt-button-flat:before,
.mt-button-stroked:before {
  background-color: var(--_mt-button-backgroundColor);
}

.mt-button-flat:hover:before,
.mt-button-flat:focus:before,
.mt-button-stroked:hover:before,
.mt-button-stroked:focus:before {
  opacity: 0.1;
}

.mt-button-stroked {
<<<<<<< HEAD
  border: .15em solid var(--_mt-button-backgroundColor);
=======
  border: 2px solid var(--_mt-button-backgroundColor);
>>>>>>> Begin modifying new docs
}

.mt-button-flat:disabled,
.mt-button-stroked:disabled {
  /* We may wish to make these into separate variables */
  color: var(--_mt-button-disabledTextColor);
  border-color: var(--_mt-button-disabledTextColor);
}

.mt-button-flat .mt-ripple:after,
.mt-button-stroked .mt-ripple:after {
  background-color: var(--_mt-button-backgroundColor);
}
