.mt-dialog {
  font-family: var(--mt-fontFamily, 'Roboto');
  font-size: var(--mt-baseFontSize, 1rem);
  text-align: left;
  background-color: #fff;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  padding: 0 0 0 1.5em;
  border-radius: 0.125em;
  color: #000;
}

.mt-dialog_title {
  padding: 1.5em 0 0;
  font-size: 1.25em;
  font-weight: 800;
}

.mt-dialog_content {
  padding: 1.25em 1.5em 1.5em 0;
}

.mt-dialog_actions {
  padding: 0.5em 0.25em 0.5em 1.25em;
  display: flex;
  justify-content: flex-end;
}
