body {
  font-size: 1rem;
}

.primaryHeader,
.secondaryHeader,
.markdown h1,
.markdown h2 {
  color: var(--mainColor);
  font-weight: 400;
  padding: 0;
}

.primaryHeader,
.markdown h1 {
  margin: 35px 0 30px;
  font-size: 1.8rem;
}

.primaryHeader:first-child,
.markdown h1:first-child {
  margin-top: 0;
}

.secondaryHeader,
.markdown h2 {
  margin: 30px 0 20px;
  font-size: 1.4rem;
}

a {
  color: var(--mainColor);
}

.markdown pre,
.markdown code {
  background-color: #f7f7f7;
}

.markdown pre {
  padding: 13px 10px;
  color: #514056;
  border-radius: 2px;
  font-size: 1.2rem;
  line-height: 1.4;
}

.markdown p {
  line-height: 1.7;
}