.mt-navigation {
  height: 46px;
  width: 100%;
  background-color: #262626;
  display: flex;
  align-items: flex-end;
  color: #fff;
  padding: 0 5px;
  list-style: none;
  box-sizing: border-box;
}

.mt-navigation-vertical {
  height: auto;
  width: auto;
  background-color: #262626;
  padding: 0;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
}

.mt-navigation_item {
  margin-right: 4px;
  display: inline-block;
  height: 46px;
  line-height: 46px;
  padding: 0 14px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}

.mt-navigation-vertical .mt-navigation_item {
  display: block;
  width: 100%;
  height: auto;
  line-height: auto;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.mt-navigation_item:hover {
  opacity: 0.85;
}

.mt-navigation_item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #4d91ec;
  will-change: transform;
  transform: translate3d(0, 3px, 0);
  transition: transform 0.3s ease-in-out;
}

.mt-navigation-vertical .mt-navigation_item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  height: auto;
  width: 3px;
  will-change: transform;
  transform: translate3d(-3px, 0, 0);
}

.mt-navigation_item-active,
.mt-navigation_item-active:hover
  .mt-navigation-vertical
  .mt-navigation_item-active,
.mt-navigation-vertical .mt-navigation_item-active:hover {
  opacity: 1;
}

.mt-navigation_item-active:after,
.mt-navigation_item:hover:after,
.mt-navigation-vertical .mt-navigation_item-active:after,
.mt-navigation-vertical .mt-navigation_item:hover:after {
  transform: translate3d(0, 0, 0);
}
