.componentDoc {
  --mt-navigation-backgroundColor: transparent;
  --mt-navigation-textColor: #757575;
  --mt-navigation-activeIndicatorColor: var(--mainColor);
}

.componentDoc_links {
  margin: 40px 0 0;
  padding: 0;
  margin-bottom: 25px;
  list-style: none;
}

.primaryHeader.componentDoc_primaryHeader {
  margin-bottom: 20px;
}

.componentDoc_linkItem {
  margin-bottom: 18px;
}

.componentDoc_linkAnchor {
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}

.componentDoc_linkAnchor:hover {
  text-decoration: underline;
}

.componentDoc_icon {
  display: inline-block;
  margin-right: 10px;
}

.componentDoc .mt-navigation {
  border-bottom: 1px solid #ddd;
}

.componentDoc_noteEmoji {
  font-size: 1.2rem;
  top: -4px;
  margin-right: 5px;
}

.componentDoc_note {
  margin: 0px 0 0px;
  padding: 10px 10px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #314048;
  color: #9ec4d8;
}

.componentDoc_noteContent {
  border-radius: 4px;
  background-color: #3f576d;
  margin: 3px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.componentDoc_preview {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  padding: 50px;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 5px 5px 0 0;
  margin-top: 30px;
}

.componentDoc_editor .CodeMirror {
  min-height: var(--editorHeight, 300px);
}

.componentDoc_componentsTable {
  margin-top: 30px;
}

.componentDoc_componentsTable .mt-table_row:hover:after {
  opacity: 0;
}

.componentDoc_errorMsg {
  margin: 0;
  padding: 20px;
  font-size: 1rem;
  background-color: #bd3f3f;
  color: #fff;
  border-radius: 0 0 5px 5px;
}
