.header {
  background-color: var(--mainColor);
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 var(--standardContentPadding);
  position: fixed;
  top: 0;
  z-index: 1500;
}

.header_appName {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
}

.header_logoLink,
.header_appLink {
  outline: none;
}

.header_appLink {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 3px 5px;
}

.header_appLink.focus-visible {
  background-color: rgba(255, 255, 255, 0.25);
}

.materialishLogo {
  width: 33px;
  position: relative;
  margin-right: 5px;
}

/* See: https://github.com/nozzle/react-static/issues/622 */

.header .header_navToggle {
  color: #fff;
  margin-right: 15px;
  font-size: 1.2rem;
  display: none;
}

.header_githubLink {
  margin-left: auto;
  font-size: 1.5rem;
  color: #fff;
  width: 34px;
  text-align: center;
  padding: 3px 5px;
  border-radius: 3px;
  outline: none;
}

.header_githubLink.focus-visible {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 1000px) {
  .header .header_navToggle {
    display: block;
  }
}
