.header {
  background-color: var(--mainColor);
  height: var(--headerHeight);
  line-height: var(--headerHeight);
  width: 100%;
  padding: 0 var(--standardContentPadding);
}

.header_appName {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
}

.header_appLink {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}
