.nav {
  width: var(--navWidth);
  display: flex;
  justify-content: flex-end;
  min-height: calc(100% - var(--headerHeight));
  overflow-y: scroll;
  padding-top: var(--appTopPadding);
  border-right: 1px solid #e1dfe6;
  position: fixed;
  left: 0;
  top: var(--headerHeight);
  height: calc(100% - var(--headerHeight));
  overflow-y: scroll;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}

.nav_navSubList,
.nav_navList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_navListItem {
  margin-bottom: 15px;
}

.nav_navListItem:last-child {
  margin-bottom: 50px;
}

.nav_navList {
  width: var(--navWidth);
  margin: 0;
  padding: 0;
}

.nav_navSubLink,
.nav_navLink,
.nav_navSectionLink {
  outline: none;
  color: #222;
  text-decoration: none;
}

.nav_navSectionLink {
  font-size: 1.15rem;
  font-weight: 400;
  padding: 13px var(--standardContentPadding);
  -webkit-font-smoothing: antialiased;
  display: block;
  user-select: none;
  z-index: 0;
  position: relative;
}

.nav_navSubLink:after,
.nav_navLink:after,
.nav_navSectionLink:after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background: #f5f5f5;
  opacity: 0;
  will-change: opacity;
  transition: opacity 100ms ease-in-out;
}

.nav_navSubLink.active:after,
.nav_navSubLink:hover:after,
.nav_navSectionLink.active:after,
.nav_navSectionLink:hover:after,
.nav_navLink.active:after,
.nav_navLink:hover:after,
.nav_navLink:focus:after,
.nav_navSectionLink:focus:after,
.nav_navSubLink:focus:after {
  opacity: 1;
}

.nav_navSubLink,
.nav_navLink {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  height: 43px;
  padding: 6px var(--standardContentPadding) 6px
    calc(var(--standardContentPadding) + 25px);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  color: #616161;
  position: relative;
}

.nav_navSubLink {
  padding-left: calc(var(--standardContentPadding) + 45px);
}

.nav_expandIcon {
  will-change: transform;
  transition: transform 200ms;
  margin-left: auto;
  padding: 6px;
  cursor: pointer;
  border-radius: 100%;
  outline: none;
}

.nav_expandIcon:focus,
.nav_expandIcon:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.nav_expandIcon-open {
  transform: rotate(90deg);
}

@media (max-width: 1000px) {
  .nav {
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 4000;
  }
  .nav-open {
    transform: translateX(0);
  }
}

@media (max-width: 650px) {
  .nav_navSectionLink {
    font-size: 1.15rem;
  }
  .nav_navSubLink,
  .nav_navLink {
    font-size: 1rem;
  }
}
