.iconsCatalog_searchInput {
  --mt-input-focusBorderColor: var(--mainColor);
  margin-bottom: 10px;
}

.iconsCatalog_searchInput .mt-input {
  width: 22rem;
}

.iconsCatalog_primaryHeader {
  margin-bottom: 0;
}

.iconsCatalog_heading {
  position: sticky;
  z-index: 1;
  top: var(--headerHeight);
  background: #fff;
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}

.iconsCatalog_count {
  margin-bottom: 0;
}

.iconsCatalog_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  position: relative;
  border-radius: 5px;
  padding: 15px 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: box-shadow 0.2s;
}

.iconsCatalog_icon:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.iconsCatalog_icon > svg,
.iconsCatalog_iconDetails > svg {
  margin-bottom: 10px;
}

.iconsCatalog_iconList {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 0 5px;
}

.iconsCatalog_iconClass {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iconsCatalog_category {
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.iconsCatalog_category:first-child {
  padding-top: 40px;
}

.iconsCategory_categoryHeader {
  color: var(--mainColor);
  font-size: 1rem;
  font-weight: 500;
}

.iconsCatalog_iconDetails {
  background: #fff;
  border-radius: 3px;
  min-width: 400px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconsCatalog_detailsImport {
  margin-top: 15px;
  background-color: #fafafa;
  border-radius: 3px;
}

.iconsCatalog_importStatement {
  font-size: 0.85rem;
  padding: 10px 8px;
}

.iconsCatalog_copyImportBtn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0 3px 3px 0;
  background-color: transparent;
  border-left: 1px solid #eee;
  fill: var(--mainColor);
  padding: 10px 8px;
  width: 40px;
  outline: none;
}

.iconsCatalog_copyImportBtn:hover {
  background-color: #efedfb;
}

.iconsCatalog_copyImportBtn.focus-visible {
  border: 1px solid var(--mainColor);
}

.iconsCatalog_iconDetailsName {
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 650px) {
  .iconsCatalog_searchInput,
  .iconsCatalog_searchInput .mt-input {
    width: 100%;
  }

  .iconsCatalog_count {
    text-align: center;
  }

  .iconsCatalog_heading {
    padding: 20px 0;
  }
}
