.mt-avatar {
  /*
    This (ugly) set of variables defines the variable fallback implementation.

    1. If `mt-avatar-backgroundColor` is set, then that will be applied
    2. Otherwise, `#ccc` will be applied
  */
  --_mt-avatar-backgroundColor: var(--mt-avatar-backgroundColor, #ccc);
  --_mt-avatar-color: var(--mt-avatar-color, #333);
  --_mt-avatar-bg-image: var(--mt-avatar-bg-image, 'none');

  font-size: var(--mt-baseFontSize, 1rem);
  font-family: var(--mt-fontFamily, 'Roboto');
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--_mt-avatar-backgroundColor);
  background-image: var(--_mt-avatar-bg-image);
  background-size: cover;
  background-position: center;
  color: var(--_mt-avatar-color);
  vertical-align: middle;
}

.mt-avatar_initials {
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}
