.markdown table {
  width: 100%;
}

.markdown th {
  font-weight: bold;
  text-align: left;
  padding: 7px 10px;
}

.markdown td {
  padding: 7px 10px;
}

.markdown th:first-child,
.markdown td:first-child {
  padding-left: 0;
}

.markdown td:first-child,
.markdown td:nth-child(2) {
  font-family: monospace;
}
