.markdown table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.markdown th {
  font-weight: 500;
  text-align: left;
  padding: 13px 10px;
  border-bottom: 1px solid #ddd;
}

.markdown tr:hover td {
  background-color: #f9f9f9;
}

.markdown td {
  padding: 13px 10px;
  border-bottom: 1px solid #ddd;
}

.markdown td:first-child,
.markdown td:nth-child(2) {
  font-family: monospace;
}
