body {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

.primaryHeader,
.secondaryHeader,
.markdown h1,
.markdown h2 {
  color: var(--mainColor);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  padding: 0;
}

.primaryHeader,
.markdown h1 {
  margin: 45px 0 30px;
  font-size: 2.3rem;
}

.componentDoc_editor ~ .markdown h1 {
  margin-top: 80px;
  font-size: 2.6rem;
}

.markdown h1 code {
  padding: 0 5px;
  margin-left: -5px;
  border-radius: 3px;
}

/* Hi this is bad CSS. This allows you to write a paragraph or two
  describing sub-components on a docs page. As of Aug 2018, this is used
  on the Table docs page */
.markdown h1 ~ h1 + p + h2,
.markdown h1 ~ h1 + p + p + h2 {
  margin-top: 30px;
}

.primaryHeader:first-child,
.markdown h1:first-child {
  margin-top: 25px;
}

.secondaryHeader,
.markdown h2 {
  margin: 80px 0 20px;
  font-size: 1.5rem;
}

.markdown h1 + h2 {
  margin-top: 10px;
}

.editorialPage h2,
.editorialPage .secondaryHeader {
  margin-top: 50px;
}

.componentDoc_standaloneSecondaryHeader {
  margin-top: 60px;
}

a {
  color: var(--mainColor);
}

.markdown pre {
  border: 1px solid #d8e4fb;
}

.markdown pre,
.markdown code {
  background-color: #f4f8ff;
}

.hljs {
  color: #000;
}

.markdown pre {
  padding: 13px 10px;
  color: #514056;
  border-radius: 2px;
  font-size: 1.2rem;
  line-height: 1.4;
}

.paragraph,
.markdown p {
  line-height: 1.7;
}

.markdown ul {
  margin-left: 40px;
  list-style: inherit;
}

.markdown li {
  margin-bottom: 10px;
  line-height: 1.7;
}
