body {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

.primaryHeader,
.secondaryHeader,
.markdown h1,
.markdown h2 {
  color: var(--mainColor);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  padding: 0;
}

.primaryHeader,
.markdown h1 {
  margin: 45px 0 30px;
  font-size: 2.3rem;
}

.primaryHeader:first-child,
.markdown h1:first-child {
  margin-top: 25px;
}

.secondaryHeader,
.markdown h2 {
  margin: 80px 0 20px;
  font-size: 1.6rem;
}

.componentDoc_standaloneSecondaryHeader {
  margin-top: 60px;
}

a {
  color: var(--mainColor);
}

.markdown pre,
.markdown code {
  background-color: #f0f5ff;
}

.hljs {
  color: #000;
}

.markdown pre {
  padding: 13px 10px;
  color: #514056;
  border-radius: 2px;
  font-size: 1.2rem;
  line-height: 1.4;
}

.paragraph,
.markdown p {
  line-height: 1.7;
}
