.mt-menu {
  --numItemsVisible: 6;
  --itemHeight: 32px;
  --topPadding: 8px;

  position: relative;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: left;
  margin: 0;
  padding: 8px 0;
  font-size: 14px;
  display: inline-block;
  min-width: 192px;
  max-width: 384px;
  max-height: calc(
    var(--numItemsVisible) * var(--itemHeight) + var(--topPadding) -
      (var(--itemHeight) / 2)
  );
  overflow-y: scroll;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  z-index: 0;
}

.mt-menu_option {
  position: relative;
  box-sizing: border-box;
  display: block;
  min-height: var(--itemHeight);
  margin: 0;
  padding: 8px 24px;
  z-index: 0;
  cursor: pointer;
}

.mt-menu_option:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  z-index: -1;
  opacity: 0;
  will-change: opacity;
  /* transition: opacity 0.1s ease-in-out; */
}

.mt-menu_option:hover:after {
  opacity: 1;
}

.mt-menu_optionSelected:after {
  opacity: 1;
}

.mt-menu_optionSeparator {
  border-bottom: 1px solid #e1e0e1;
}

.mt-menu_title {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 14px;
  color: #757575;
  font-size: 12px;
  line-height: var(--itemHeight);
  min-height: var(--itemHeight);
  cursor: default;
}

.mt-menu_message {
  color: #757575;
  font-weight: 300;
  cursor: default;
}

.mt-menu_message:after {
  content: none;
}
